<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <img class="img-responsive"
         src="https://gw.alipayobjects.com/mdn/rms_08e378/afts/img/A*zx7LTI_ECSAAAAAAAAAAAABkARQnAQ">
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-4">
        <h1 style="font-size: 30px;">error 404 page not found</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-5">
        <button class="btn btn-primary" (click)="Onclick()">back to Home</button>
    </div>
</div>